/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/*-------------*/
body {
	border: 2px solid black;
	box-shadow: 5px 5px 5px grey;
	padding: 0px;
	margin: 5px auto;
	font-family: Arial, Comic, Sans;
	width: 950px;
}

header {
	font-size: 3em;
	text-align: center;
	color: black;
  width: 950px;
	height: 100px;
	background: url('../images/ubuntu-linux.gif');
	margin: 10px auto;
}

nav {
	border-top: 2px solid grey;
  border-bottom: 2px solid grey;
	padding: 5px;
	margin-bottom: 5px;
	text-align: justify;
}

footer {
	border-top: 2px solid grey;
	font-size: 0.7em;
	text-align: center;
	width: 950px;
	margin: 10px auto 5px auto;
}

a {
	color: blue;
	font-size: 0.9em;
	text-decoration: none;
	text-align: center;
}

a:hover {
	text-decoration: underline;
	text-align: center;
}

article{
	border-bottom: 2px solid grey;
	padding: 5px;
	margin-bottom: 5px;
	text-align: justify;
}

.gpg {
	font-family: Sans;
	text-align: justify;
}

.title {
	font-size: 18px;
	text-align: center;
	color: blue;
}

.old {
	text-decoration: line-through;
}

#content {
	width: 900px;
  margin: 5px 25px;
	padding: 0px 10px;
	display: inline-block;
	position: relative;
	padding: 0px;
	z-index: 1;
}

#contentleft {
	position: relative;
	padding-right: 10px;
  border-right: 2px solid black;
  float: left;
	width: 700px;
}

#contentright {
	float: right; 
	width: 180px;
}

#comments {
  padding-left: 50px;
}

#container {   
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}
